<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                        <p>Motorbike Rental Tuan Cau Rong</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <p> Design by XuanPhat0603 <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <a href="https://github.com/xuanphat0603" target="_blank">Mie6996</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->