<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorbikeDaNang</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="styles/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="styles/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="styles/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="styles/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="styles/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="styles/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="styles/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="styles/css/style.css" type="text/css">

</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
    <!-- Js Plugins -->
    <script src="styles/js/jquery-3.3.1.min.js"></script>
    <script src="styles/js/bootstrap.min.js"></script>
    <script src="styles/js/jquery.nice-select.min.js"></script>
    <script src="styles/js/jquery.nicescroll.min.js"></script>
    <script src="styles/js/jquery.magnific-popup.min.js"></script>
    <script src="styles/js/jquery.countdown.min.js"></script>
    <script src="styles/js/jquery.slicknav.js"></script>
    <script src="styles/js/mixitup.min.js"></script>
    <script src="styles/js/owl.carousel.min.js"></script>
    <script src="styles/js/main.js"></script>
</body>

</html>